{% extends 'base.html' %} 

{% block body %}  
<div class="row">
    {% for item in shows %}
        <div class="col-sm-3 px-2 py-3">
            <div class="card" style="text-align: center;">
                <img class="card-img-top" src="{{ item.show.image.medium }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ item.show.name }}</h5>
                {% if session.username %}
                    
                    {% if item.show.id in show_id_liked %}
                        {% if destination %}
                            <a href="{{ url_for('unlike', show_id = item.show.id, destination = destination)}}">Unlike</a>
                        {% else %}
                        <a href="{{ url_for('unlike', show_id = item.show.id, destination = '_')}}">Unlike</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url_for('create_like', show_id = item.show.id, destination = destination)}}">Like</a>
                    {% endif %}
                                        
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>    
{% endblock %}